h1 {
    color: red;
}

p {
    color: green;
}

p,
li {
    color: blue;
}

/* 移除无序列表项目符号 */
li {
    list-style-type: none;
}

/* 选择器列表，多个应用相同规则的选择器组合起来。 */
h1, .special {
    color: blue;
}

/* 选择器列表可读性更好 */
h1,
.special {
    color: blue;
}

/*
当你使用选择器列表时，如果任何一个选择器无效 (存在语法错误)，那么整条规则都会被忽略。
*/

/*
选择器种类：

1、指向 html 元素：
h1 {
}

2、class 选择器：
.box {
}

3、id 选择器：
#unique {
}

4、根据一个有特定值的标签属性是否存在来选择：
a[href="https://example.com"]
{
}

5、根据一个元素上的某个标签的属性的存在以选择元素的不同方式：
a[title] {
}

6、这组选择器包含了伪类，用来样式化一个元素的特定状态。例如 :hover 伪类会在鼠标指针悬浮到一个元素上的时候选择这个元素：
a:hover {
}

7、可以包含了伪元素，选择一个元素的某个部分而不是元素自己。例如，::first-line 是会选择一个元素（下面的情况中是 <p>）中的第一行，类似<span>包在了第一个被格式化的行外面，然后选择这个 <span>：
p::first-line {
}

8、可以将其他选择器组合起来，更复杂的选择元素。下面的示例用运算符（>）选择了 <article> 元素的初代子元素：
article > p {
}
*/

/*
全局选择器，应用于该文档所有样式，
下面这个移去了所有元素上的外边距：
* {
  margin: 0;
}
*/

/*
指向特定元素的类：
span.highlight {
  background-color: yellow;
}

h1.highlight {
  background-color: pink;
}
*/