/*
下面的示例中有三个不同的 HTML 元素，它们的外部显示类型都是 block。

在 CSS 中添加了边框的段落。浏览器会将其渲染为一个盒子框。段落从新行开始，并扩展整个可用宽度。
使用 display: flex 布局的列表。这就为容器的子项（即弹性项）建立了弹性布局。列表本身是一个区块盒子，与段落一样，会扩展到整个容器的宽度，然后换行。
一个块级段落，内含两个 <span> 元素。这些元素通常是 inline，但是其中一个元素的类是 block，令其被设置为 display: block。
*/
p,
ul {
    border: 2px solid rebeccapurple;
    padding: .5em;
}

.block,
li {
    border: 2px solid blue;
    padding: .5em;
}

ul {
    display: flex;
    list-style: none;
}

.block {
    display: block;
}

/*
在下一个示例中，我们可以看到 inline 元素是如何表现的。

第一段中的 <span> 元素默认为行级，因此不会强制换行。
设置为 display: inline-flex 的 <ul> 元素会创建一个行向盒子，其中包含一些弹性项目。
这两个段落都设置为 display: inline。行向弹性容器和段落都在一行中流动，而不是分成两行（如果它们显示为块级元素，就会这样）。
*/
p,
ul {
    border: 2px solid rebeccapurple;
}

span,
li {
    border: 2px solid blue;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.inline {
    display: inline;
}

.one {
    margin-bottom: 50px;
}

.two {
    margin-top: 30px;
}