/* 下面的示例中，我们只会匹配处于带有 .box 类的元素里面的 <p> 元素。 */
.box p {
    color: red;
}

/*
子代关系选择器是个大于号（>），只会在选择器选中直接子元素的时候匹配。继承关系上更远的后代则不会匹配。例如，只选中作为 <article> 的直接子元素的 <p> 元素：
*/
ul > li {
    border-top: 5px solid red;
}

/* 选中所有紧随 <p> 元素之后的 <img> 元素： */
/* p + img */
/*
常见的使用场景是，改变紧跟着一个标题的段的某些表现方面，就像是我下面的示例那样。这里我们寻找一个紧挨 <h1> 的段，然后样式化它。

如果你往 <h1> 和 <p> 之间插入其他的某个元素，例如 <h2>，你将会发现，段落不再与选择器匹配，因而不会应用元素邻接时的前景和背景色。
*/
h1 + p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}

/*
如果你想选中一个元素的兄弟元素，即使它们不直接相邻，你还是可以使用通用兄弟关系选择器（~）。要选中所有的 <p> 元素后任何地方的 <img> 元素，我们会这样做：
p ~ img

在下面的示例中，我们选中了所有的 <h1> 之后的 <p> 元素，虽然文档中还有个 <div>，其后的 <p> 还是被选中了。
*/
h1 ~ p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}

/*
例如如果我们想选中为 <ul> 的直接子元素的带有 “a” 类的列表项的话，我可以用下面的代码：
*/
ul > li[class="a"] {
}